/* Home.css */
.home-container {
    background-color: #fff;
  }
  
  h1 {
    font-size: 36px;
    color: #4CAF50; 
  }
  
  h2 {
    font-size: 24px;
    color: #4CAF50; 
  }
  
  .search-bar {
    margin: 20px 0;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Green color */
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45A049; /* Slightly darker green color on hover */
  }
  
  
  .skiza-tune-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skiza-tune {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .skiza-tune img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .skiza-tune h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .skiza-tune p {
    font-size: 16px;
    color: black;
  }
  
  
  audio {
    width: 100%;
    margin-top: 10px;
  }
  